<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <%- include('../partials/head') %>
  <body class="flex min-h-screen flex-col bg-background text-on-background">
    <%- include('../partials/header') %>
    <main id="main-content" class="flex-1">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/public.js"></script>
  </body>
</html>
